.jumbotron{
	width: 400px;
	margin-top: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.table{
	margin-left: auto;
	margin-right: auto;
}
.button{
	margin-top: 20px;
}
.form-control{
	margin-top: 5px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.btn{
	width: 350px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.selecionado{
	background: rgb(100,170,256);
}
.hiding{
	display: none;
}